@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

.container {
    width: 100%;
    max-width: 1600px;
    margin: 0 auto;
    padding-left: 80px;
    padding-right: 80px;

    @media (max-width: 1024px) {
        padding-left: 64px;
        padding-right: 64px;
    }

    @media (max-width: 767px) {
        padding-left: 32px;
        padding-right: 32px;
    }

}


a{
 font-weight: bold;
 position: relative;
}
a:before{
    content: "";
    position: absolute;
    bottom: -3px;
    height: 5px;
    width: 0;
    background: #00D897;
    border-radius: 50px;
    transition: width 0.3s ease;
}
a:hover:before{
   width: 100%;
}
